.imageGallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-4);
}

@media (min-width: 48em) {
  .imageGallery {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-6);
  }
}

@media (min-width: 70em) {
  .imageGallery {
    max-width: var(--width-content);
    width: 100%;
    gap: var(--spacing-8);
  }
}
